body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  background: #000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20 px;
}

.login-box {
  background: #1a1a1a;
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  color: white;
  width: 350px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.login-box h2 {
  margin-bottom: 20px;
}

.input-box {
  margin: 15px 0;
}

.input-box input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #2a2a2a;
  color: #fff;
}

.input-box input::placeholder {
  color: #aaa;
}

.btn {
  width: 100%;
  padding: 12px;
  background: linear-gradient(90deg, #a855f7, #ec4899);
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
}

.btn:hover {
  opacity: 0.9;
}

.or {
  margin: 20px 0;
  font-size: 14px;
  color: #ccc;
}

.social-login {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.social-login a {
  text-decoration: none;
  color: white;
  padding: 10px;
  flex: 1;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
}

.google {
  background: #db4437;
}

.facebook {
  background: #1877f2;
}

.cadastro {
  margin-top: 20px;
  font-size: 14px;
}

.cadastro a {
  color: #a855f7;
  text-decoration: none;
}

.cadastro a:hover {
  text-decoration: underline;
}

/*LOGO*/

.logo img {
    width: 100px;
    height: 100px;
}

.logo {
  margin-bottom: 30px;
  justify-content: center;
}
