<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>altSenha</title>
</head>
<body>
<div class="login-box">
    <h2>Alteração de Senha</h2>
    <form id="changePasswordForm">
        <input type="password" id="current-password" placeholder="Digite a senha atual" required>
        <input type="password" id="new-password" placeholder="Digite a nova senha" required>
        <input type="password" id="new-password-confirmation" placeholder="Confirme a nova senha" required>
        <button type="submit" class="btn">Confirmar</button>
        <button type="submit" class="btn">Limpar</button>
    </form>
</div>
</body>
</html>