<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alteração de Senha</title>
    <link rel="stylesheet" href="/css/altSenha.css">
</head>
<body>

<div class="botoes-navegacao">
    <a class="btn-voltar" href="/">
        <img src="/imagens/Botao_de_Voltar.webp" width="80" height="80px">
    </a>
</div>

<div class="container">
    <div class="login-box">
        <h2>Alteração de Senha</h2>
        <div th:if="${mensagem}">
            <script>
                alert([[${mensagem}]]);
            </script>
        </div>

        <form id="changePasswordForm" method="post" action="/novasenha">
            <div class="input-box">
                <input type="password" id="new-password" name="senhaNova" placeholder="Digite a nova senha" required>
            </div>
            <div class="input-box">
                <input type="password" id="new-password-confirmation" name="confirmarSenha" placeholder="Confirme a nova senha" required>
            </div>
            <button type="submit" class="btn">Confirmar</button>
            <button type="reset" class="btn limpar">Limpar</button>
        </form>
    </div>
</div>
<script th:src="@{/js/altSenha.js}"></script>
</body>
</html>
