<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" th:href="@{/css/cadastro.css}">
</head>
<body>
<div class="login-box">

    <div class="logo">
        <img src="/imagens/sem_emocao.webp">
    </div>

    <h2>Criar Conta</h2>
    <form id="signupForm">
        <input type="text" id="name" placeholder="Nome completo" required>
        <input type="email" id="email" placeholder="Email" required>
        <input type="password" id="password" placeholder="Senha" required>
        <input type="password" id="confirmPassword" placeholder="Confirmar senha" required>
        <button type="submit" class="btn">Cadastrar</button>
    </form>
    <div class="divider">OU</div>
    <button class="google-btn">
        <img src="https://www.svgrepo.com/show/355037/google.svg" alt="Google" class="google-icon">
        Continuar com Google
    </button>
    <p class="signup-link">Já tem uma conta? <a href="#" th:href="@{/login}">Entrar</a></p>
</div>
</body>
<script th:src="@{/js/cadastro.js}"></script>
</html>