<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>

<div class="botoes-navegacao">
    <a class="btn" href="/estatisticas">
        <img src="/imagens/Botao_de_Estatisticas.webp" width="80px" height="80px">
    </a>
    <a class="btn" href="/tag">
        <img src="/imagens/Botao_de_Tag.webp" width="80px" height="80px">
    </a>
</div>

</div>
<div class="container">
    <div class="menu-container">
        <button class="menu-button" onclick="toggleMenu(this)">⋮</button>
        <div class="menu-content">
            <a class="btn-menu" href="/alterarsenha">Alterar senha</a>
            <a class="btn-menu" href="/usuario/logout">Sair</a>
        </div>
    </div>

    <div class="home-box">
        <h1>Bem-vindo, <span th:text="${nome}"></span>!</h1>

        <div class="historico-humor">
            <div class="container-humordia">
                <p>&nbsp;</p> <!-- Futuros containers provavelmente -->
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </div>
        </div>

        <a class="btn" href="/registrarHumor">
            <img src="/imagens/Botao_de_Mais.webp" width="100px" height="100px">
        </a>
    </div>
</div>

<script th:src="@{/js/menu.js}"></script>

</body>
</html>
